# Exclude a variety of commonly ignored directories.
exclude = [
    ".bzr",
    ".direnv",
    ".eggs",
    ".git",
    ".git-rewrite",
    ".hg",
    ".ipynb_checkpoints",
    ".mypy_cache",
    ".nox",
    ".pants.d",
    ".pyenv",
    ".pytest_cache",
    ".pytype",
    ".ruff_cache",
    ".svn",
    ".tox",
    ".venv",
    ".vscode",
    "__pypackages__",
    "_build",
    "buck-out",
    "build",
    "dist",
    "node_modules",
    "site-packages",
    "venv",
    "legacy",
]

# Same as Black.
line-length = 100
indent-width = 4

target-version = "py312"
force-exclude = true

[lint]
select = [
    "C4",  # flake8-comprehensions
    "SIM", # flake8-simplify
    "Q",   # flake8-quotes
    "ISC", # flake8-implicit-str-concat
    "F",   # pyflakes
    "D",   # pydocstyle
    "E",   # pycodestyle error
    "W",   # pycodestyle warning
    "N",   # pep8-naming
    "I",   # isort
    "PL",  # pylint rules from categories "Convention", "Error", and "Warning"
    "PLE", # ruff currently implements only a subset of pylint's rules
    "PLW", # pylint warning
    "PLR", # pylint refactor
    "UP",  # pyupgrade
    "C",   # Complexity (mccabe+) & comprehensions
]
ignore = [
    "UP006",   # See https://github.com/bokeh/bokeh/issues/13143
    "UP007",   # See https://github.com/bokeh/bokeh/pull/13144
    "PLC0415", # Allow imports inside functions (useful for optional deps)
    "PLR2004", # Allow magic values in comparisons (array indices etc.)
]

[format]
# Like Black, use double quotes for strings.
quote-style = "double"

[lint.pydocstyle]
# Use Google-style docstrings.
convention = "google"
